
    <section id="list">
        <ul>
        {% for li in site.data.list %}
            <li class="matzip" id="list-{{ forloop.index0 }}" data-name="{{ li.name }}">
                <div class="item">
                    <div class="info">
                        <h2>{{ li.name }}</h2>
                        <h5>메뉴: {{ li.menu }}</h5>
                        <h5>가격: {{ li.price }}</h5>
                    </div>
                    <div class="detail">
                        <p>{{ li.description }}</p>
                        <h5>위치: {{ li.location}}</h5>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </section>